## 1.데이터 불러오기

In [1]:
import pandas as pd 

customerData = pd.read_csv("../dataset/customerdata.csv")
customerData

     CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1    A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2    A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3    A16605   3713.211107    2          6.6    0.900000        Early-bird
4    B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
5    B16849   3755.263391    2          4.7    2.786665      Sleeping-dog
6    B18816   3213.911446    2          6.4    0.900000        Early-bird
7    C10639   3516.500000    2          5.2    2.564830  Big-Screen-lover
8    C12717   3732.900000    2          5.7    2.069995  Big-Screen-lover
9    C15050   4020.173425    2          4.9    3.013440      Sleeping-dog
10   C18306   4005.005142    2          4.7    3.113618      Sleeping-dog
11   C18622   3246.000000    1          5.0    1.891624  Big-Screen-lover
12   C19178   3624.700000    2          5.6    2.137246  Big-Screen-lover
13   D11795   2991.014703    2          6.4    0.800000        Early-bird
14   D13030   3227.855655    2          4.8    3.467370      Sleeping-dog
15   D15289   4165.700000    2          6.9    2.911016  Big-Screen-lover
16   D17241   4166.533130    2          4.7    2.577757      Sleeping-dog
17   D17880   3383.145853    2          4.5    2.903990      Sleeping-dog
18   E10778   4165.700000    2          6.7    2.122257  Big-Screen-lover
19   E11917   3516.500000    2          5.5    2.087540  Big-Screen-lover
20   E16075   3418.048887    2          4.2    2.771469      Sleeping-dog
21   E16221   3408.300000    2          5.0    1.988682  Big-Screen-lover
22   E18145   3408.300000    2          4.9    1.521029  Big-Screen-lover
23   E19404   3764.940414    2          6.5    0.900000        Early-bird
24   F10222   3191.065822    2          6.5    0.900000        Early-bird
25   F12979   4165.700000    2          6.1    2.128362  Big-Screen-lover
26   F14866   3137.800000    2          5.1    1.725892  Big-Screen-lover
27   F17131   3179.708359    3          6.5    1.100000        Early-bird
28   F18646   3334.244233    2          4.5    3.273196      Sleeping-dog
29   F19938   3732.900000    2          5.4    2.011303  Big-Screen-lover
..      ...           ...  ...          ...         ...               ...
120  U16894   3234.465609    2          3.6    2.606419      Sleeping-dog
121  U17547   3313.905655    2          4.0    2.448368      Sleeping-dog
122  U17748   3394.152840    2          4.0    2.185742      Sleeping-dog
123  V10654   3902.329790    2          4.6    3.260149      Sleeping-dog
124  V16516   3149.259875    2          4.1    2.410823      Sleeping-dog
125  V16704   2605.631083    2          6.6    0.900000        Early-bird
126  V18566   3527.701867    3          6.5    0.900000        Early-bird
127  V19072   3462.400000    2          5.3    1.922932  Big-Screen-lover
128  W10832   3527.360507    2          4.1    2.136971      Sleeping-dog
129  W13032   4003.400000    2          6.1    2.519623  Big-Screen-lover
130  W13404   4296.873743    3          6.5    1.100000        Early-bird
131  W13995   2411.008838    2          6.4    1.000000        Early-bird
132  W16193   3402.729703    2          6.4    0.900000        Early-bird
133  W18228   3480.455474    2          6.4    0.900000        Early-bird
134  X10158   3949.300000    2          6.3    1.815666  Big-Screen-lover
135  X13390   2947.543982    3          6.3    1.100000        Early-bird
136  X14259   3481.314549    2          4.3    2.528063      Sleeping-dog
137  X19598   3516.500000    2          5.1    2.646259  Big-Screen-lover
138  X19768   3486.085831    2          4.6    2.835355      Sleeping-dog
139  Y10906   3408.300000    2          6.0    2.131432  Big-Screen-lover
140  Y12458   2976.211190    1          3.5    2.199677      Sleeping-dog
141  Y13678   3408.300000    2          5.6    2.084005  Big-Screen-lover
142  Z11525   3259.018704    3          6.4    0.900000        Early-bird
143  Z12343   3498.896985    2          6.6    0.900000        Early-bird
144  Z12772   3029.600000    2          4.9    2.093035  Big-Screen-lover
145  Z13253   3678.800000    2          5.9    2.463670  Big-Screen-lover
146  Z13534   3662.437527    3          6.6    0.900000        Early-bird
147  Z16428   3516.500000    2          5.8    2.371301  Big-Screen-lover
148  Z16735   3300.100000    2          5.6    1.704942  Big-Screen-lover
149  Z19835   3326.526183    2          6.7    1.200000        Early-bird

[150 rows x 6 columns]

In [2]:
customerData.dtypes

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT     float64
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object

In [3]:
customerData['DEVICECOUNT']=customerData['DEVICECOUNT'].astype(int)

In [4]:
customerData.dtypes

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT       int32
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object

## 2. 데이터 추출하기 1

In [ ]:
data = pd.read_csv("../dataset/kopo_product_volume.csv")
data.head(3)

In [5]:
customerData2= pd.read_csv("../dataset/kopo_customerdata.csv")
customerData.head(2)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.90000    3            6    1.679181  Big-Screen-lover
1  A14219    3642.44195    2            4    2.682023      Sleeping-dog

In [6]:
result = customerData2.query('GENDER == "Male" & EMAIL > 0')
result

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
81,393246,State2,2,Male,0,1,1,1,18200,0,0,18200,0,0,1,0
206,2532568,State2,2,Male,1,1,1,0,48000,48000,0,0,0,0,1,0
216,487928,State2,2,Male,0,1,1,0,72300,0,27900,44400,0,0,1,0
226,2452240,State2,2,Male,1,1,1,1,22500,0,0,22500,0,0,1,0
299,1295854,State2,2,Male,1,1,1,2,59900,0,25100,34800,0,0,4,655
308,554757,State2,2,Male,0,1,1,0,22100,0,0,22100,0,0,1,0
330,761018,State2,2,Male,1,1,1,0,21200,0,0,21200,0,0,1,0
367,2191152,State2,2,Male,0,1,1,1,55700,0,55700,0,0,0,1,0
375,867914,State2,2,Male,0,1,1,0,14300,0,14300,0,0,0,1,0
415,1804886,State2,2,Male,0,1,1,1,35300,35300,0,0,0,0,1,0
420,1708130,State2,2,Male,0,1,1,4,59400,0,19000,40400,0,0,5,471
461,1701227,State2,2,Male,1,1,1,2,180300,0,180300,0,0,1,3,629
472,783314,State2,2,Male,0,1,1,0,11700,0,0,11700,0,0,1,0
577,2202752,State2,2,Male,1,1,1,1,145500,0,145500,0,0,0,1,0
588,1930071,State2,2,Male,0,1,1,0,30900,0,0,30900,0,0,1,0
589,1313388,State2,2,Male,0,1,1,1,33700,0,33700,0,0,0,1,0
599,801903,State2,2,Male,1,1,1,0,71400,71400,0,0,0,0,2,1
622,2028191,State2,2,Male,1,1,1,0,93300,0,93300,0,0,0,2,14
632,1832133,State2,2,Male,0,1,1,0,62700,0,62700,0,0,0,1,0
635,1770645,State2,2,Male,0,1,1,1,28600,0,0,28600,0,0,1,0
672,1239402,State2,2,Male,1,1,1,1,444500,0,69100,375400,0,0,3,287
707,1670252,State2,2,Male,1,1,1,1,28200,0,28200,0,0,0,1,0
735,1794917,State2,2,Male,0,1,1,1,37800,0,37800,0,0,0,1,0
749,1585965,State2,2,Male,1,1,1,2,405200,40500,294000,70700,60000,0,3,152
761,1669697,State2,2,Male,1,1,1,1,245700,0,245700,0,229000,1,2,26
764,2203801,State2,2,Male,1,1,1,4,206000,0,128400,77600,0,0,5,241
765,716171,State2,2,Male,0,1,1,0,124000,0,53800,70200,0,0,2,10
766,2556707,State2,2,Male,1,1,1,0,507900,0,479200,28700,0,0,2,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278681,2555383,State1,1,Male,1,1,1,0,43500,43500,0,0,0,0,1,0
281322,776030,State1,1,Male,0,1,1,0,13300,0,0,13300,0,0,1,0
282003,2004949,State1,1,Male,1,1,1,0,67100,0,67100,0,0,0,1,0
282564,513144,State1,1,Male,0,1,1,1,20900,0,0,20900,0,0,1,0
283114,554456,State1,1,Male,0,1,1,0,54400,0,0,54400,0,0,1,0
283296,2195916,State1,1,Male,1,1,1,1,56700,41500,0,15200,0,0,1,0
285146,1160986,State1,1,Male,1,1,1,3,50300,50300,0,0,0,0,5,868
285191,2032106,State1,1,Male,0,1,1,1,111100,53800,57300,0,0,0,2,261
285397,1629439,State1,1,Male,1,1,1,3,58300,0,28200,30100,0,0,3,29
285631,683499,State1,1,Male,0,1,1,1,26000,0,0,26000,0,0,1,0
285640,2536185,State1,1,Male,1,1,1,0,51500,51500,0,0,0,0,1,0
286123,1588318,State1,1,Male,0,1,1,1,23400,0,2600,20800,0,0,1,0
286759,1260136,State1,1,Male,0,1,1,0,15100,0,15100,0,0,0,1,0
288808,1785871,State1,1,Male,0,1,1,1,28500,0,0,28500,0,0,1,0
289361,1940594,State1,1,Male,0,1,1,0,50900,0,0,50900,0,0,1,0
290101,2419123,State1,1,Male,1,1,1,1,94400,77400,0,17000,0,0,1,0
292305,1451824,State1,1,Male,0,1,1,0,51800,51800,0,0,0,0,1,0
292396,512865,State1,1,Male,0,1,1,1,33900,0,0,33900,0,0,1,0
292988,1549301,State1,1,Male,0,1,1,1,37600,37600,0,0,0,0,1,0
293023,529081,State1,1,Male,0,1,1,1,12100,0,0,12100,0,0,1,0
293865,1589121,State1,1,Male,1,1,1,1,64300,0,64300,0,0,0,1,0
294324,633700,State1,1,Male,0,1,1,1,14300,0,14300,0,0,0,1,0
294425,1673732,State1,1,Male,1,1,1,1,1600,0,1600,0,0,0,2,1
294437,1576281,State1,1,Male,1,1,1,1,107200,53000,54200,0,0,0,1,0
295662,2515677,State1,1,Male,1,1,1,0,124400,0,69100,55300,0,0,2,20
297368,354730,State1,1,Male,0,1,1,1,24800,0,0,24800,0,0,1,0
298379,1883684,State1,1,Male,1,1,1,3,90700,0,0,90700,0,0,3,24
298638,2512712,State1,1,Male,1,1,1,0,177300,0,143900,33400,0,0,2,2
298672,1805372,State1,1,Male,1,1,1,0,108200,42300,0,65900,0,0,1,0
298974,676593,State1,1,Male,0,1,1,1,49200,49200,0,0,0,0,1,0

In [7]:
result2 = customerData2[(customerData2.GENDER == 'Male')& (customerData2.EMAIL > 0)]
result2.head(3)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
81,393246,State2,2,Male,0,1,1,1,18200,0,0,18200,0,0,1,0

In [8]:
targetGender = 'Female'

In [9]:
targetEmail = 0

In [10]:
result2 = customerData2[(customerData2.GENDER.str.upper == targetGender)& (customerData2.EMAIL > targetEmail)]
result2.head(3)

Empty DataFrame
Columns: [CUSTOMERCODE, STATENAME, ST, GENDER, DOB, GENDER1, EMAIL, FEST_CNT, TOTAL_AMOUNT, AC_AMOUNT, AV_AMOUNT, HA_AMOUNT, EMI_CE_AMOUNT, IS_HIGHEND, CNT_VIST, GAP_VISIT]
Index: []

## 3. 데이터 추출하기 2

In [39]:
data = pd.read_csv("../dataset/kopo_product_volume.csv")
data.head(3)

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999
2      A01       ST0001    201418  671464

In [40]:
# resultData= data[(data.PRODUCTGROUP == "ST0002") & (data.VOLUME > 300000)]

In [41]:
resultData = data.query('PRODUCTGROUP == "ST0002" & VOLUME > 300000')

In [42]:
resultData

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
80       A01       ST0002    201452   422468
86       A01       ST0002    201451   356271
90       A01       ST0002    201449   669711
94       A01       ST0002    201447   378339
102      A01       ST0002    201448  1400339
196      A01       ST0002    201552   422468
208      A01       ST0002    201551   356271
212      A01       ST0002    201549   669711
216      A01       ST0002    201547   378339
224      A01       ST0002    201548  1400339

In [43]:
data.dtypes

REGIONID        object
PRODUCTGROUP    object
YEARWEEK         int64
VOLUME           int64
dtype: object